<!-- component -->
<div class="text-gray-900 bg-gray-200">
  <div class="p-4 flex">
    <h1 class="text-3xl">Users</h1>
  </div>
  <div class="px-3 py-4 flex justify-center">
    <table class="w-full text-md bg-white shadow-md rounded mb-4">
      <tbody>
        <tr class="border-b">
          <th class="text-left p-3 px-5">Firstname</th>
          <th class="text-left p-3 px-5">Lastname</th>
          <th class="text-left p-3 px-5">Email</th>
          <th class="text-left p-3 px-5">Company</th>
          <th class="text-left p-3 px-5">Role</th>
          <th>Manage</th>
        </tr>
        <tr
          *ngFor="let user of users"
          class="border-b hover:bg-green-100 bg-gray-100"
        >
          <td class="p-3 px-5">
            <p class="bg-transparent border-b-2 border-gray-300 py-2">
              {{ user.firstname }}
            </p>
          </td>
          <td class="p-3 px-5">
            <p class="bg-transparent border-b-2 border-gray-300 py-2">
              {{ user.lastname }}
            </p>
          </td>
          <td class="p-3 px-5">
            <p
              type="text"
              class="bg-transparent border-b-2 border-gray-300 py-2"
            >
              {{ user.email }}
            </p>
          </td>
          <td class="p-3 px-5">
            <p class="bg-transparent border-b-2 border-gray-300 py-2">
              {{ user.company.name }}
            </p>
          </td>
          <td class="p-3 px-5">
            <p class="bg-transparent border-b-2 border-gray-300 py-2">
              {{ user.role }}
            </p>
          </td>
          <td class="p-3 px-5 flex justify-center">
            <a [routerLink]="['/users/edit/', user.id]">
              <button
                type="button"
                class="mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
              >
                >Edit
              </button></a
            >
            <button
              type="button"
              class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
